body {
    margin: 30px 50px;
    background: #87ceeb;
}

.chem-table {
    background: #f5e79e;
    width: auto;
    height: 190px;
}

#reactant-1 {
    float: right;
    position: absolute;
    z-index: 10;
    left:470px;
}
#reactant-2{
    float: right;
    position: absolute;
    z-index: 10;
    left: 100px;
}
#reactant-3{
    float: right;
    position: absolute;
    z-index: 10;
    left: 200px;
}
#reactant-4{
    float: right;
    position: absolute;
    z-index: 10;
    left: 340px;
}
#conical-flask {
    display: block;
    width: 200px;
    height: 200px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
}